body {
    background-color: rgb(228, 228, 228);
}

#profile {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 64px;
}

#header {
    margin-top: 20px;
}

#extraInfo {
    padding-bottom: 8px;
    border-bottom: 3px solid #a0a0a0;
    margin-bottom: 7px;
}

.font {
    font-family: 'Roboto Condensed', sans-serif, monospace;
    color: rgb(136, 136, 136);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.large-font {
    font-size: 24px
}

.small-font {
    font-weight: normal;
    font-size: 14px;
}
.paragraphs{
    color: rgb(66, 66, 66);
    letter-spacing: 0px;
    font-size: 16px;
    font-weight: normal;
    
}

#skill {
    padding-left: 64px;
}

#name {
    color: rgb(108, 163, 235);
}

.webIcon {
    float: right;
    margin-bottom: -5px;
    width: 22px;
    height: 22px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    margin-top: 4px;
    margin-right: 2px;
    opacity: 0.7;
}
.webIcon:hover {
    opacity: 1.0;
}


#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif, monospace;
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;

}

#menu li {
    float: left;
    margin-right:20px;
}

#menu li a {
    display: block;
    color:rgb(136, 136, 136);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#menu .active {
    border-bottom: 3px solid rgb(136, 136, 136) ;
}
#menu li a:not(.active):hover {
    border-bottom: 3px solid rgb(25, 25, 25) ;
}

#content{
    font-size: 14px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 60px;
}

div .video  {
    width: 670px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(117, 117, 117);
    margin-bottom: 64px;
}
div .video iframe{
    width: 100%;
    height: 100%;
}
    #resume {
        margin-top: 6px;
        width: 85%;
    }
    
    img.img_resume {
        
        margin-right: 30px;    
        float: left;
        margin-left: 10px;
        border: 2px solid #c8c8c9;
        box-shadow: 3px 3px 3px rgb(117, 117, 117);
        border-radius: 2px;
        width: 25%;
    }
    
    .img_resume:hover {
        opacity: 0.85;
        cursor: pointer; cursor: hand;
    }
    .projects{
        margin-right: auto;
        margin-left: auto;
        padding-top: 32px;
        float: left;
        padding-bottom: 32px;
        width: 85%;
        border-bottom: 2px solid #c8c8c9;
    }
    .projects .img_resume{
        width: 400px;
        height: 300px;
    }
    .projects:nth-of-type(odd) .img_resume{
        float: right;
        margin-right: 10px;    
        margin-left: 30px;
    }
    .projects:nth-of-type(even) ol{
      padding-left:475px;
    }
    .technologyUsed{
        margin-right: 20px;
    }